# Database Configuration
DATABASE_URL=postgresql://postgres:X3IRAYHAMIDE2006@db.zdgcijmaxrtudrvdrvku.supabase.co:5432/postgres
# OR for development
DB_USER=postgres
DB_PASSWORD=X3IRAYHAMIDE2006@
DB_NAME=postgres
DB_HOST=db.zdgcijmaxrtudrvdrvku.supabase.co
DB_PORT=5432

# Server
NODE_ENV=development
PORT=3000
BASE_URL=http://localhost:3000
